repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff (local)
        entry: ./.venv/bin/ruff check backend/app backend/tests
        language: system
        pass_filenames: false
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
        language_version: python3.11
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ['--profile', 'black']
  - repo: local
    hooks:
      - id: npm-lint
        name: Run frontend linter
        entry: npm run lint
        language: system
        pass_filenames: false
        always_run: true
